.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 0 0 20px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}

span {
  margin: 12px 0;
}

.area-input {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-input input {
  width: 100%;
  margin-bottom: 12px;
  height: 46px;
  background: #121212;
  border: 0;
  border-radius: 6px;
  color: #fff;
  padding: 0 12px;
  text-align: center;
  font-size: 18px;
}

.area-input button {
  width: 100%;
  height: 46px;
  border: 0;
  border-radius: 6px;
  background: #357aff;
  color: #fff;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.area-input button:hover {
  background: #1e4694;
}
.area-input button:focus {
  background: #1e4694;
}
.area-input button:active {
  background: #1e4694;
}

h2 {
  margin-top: 28px;
}
